<main class="container">
  <!--Message area-->
  <div class="alert alert-danger mt-2 p-2 text-center" *ngIf='errorMessage != null'>
    {{ errorMessage }}
  </div>
  <div class="alert alert-success mt-2 p-2 text-center" *ngIf='successMessage != null'>
    {{ successMessage }}
  </div>

  <div class="row">
    <div class="offset-md-4 col-md-4 mt-5">
      <h1>Change Password</h1>

      <form novalidate #form='ngForm' (ngSubmit)='changePassword(form)' method="POST" class="row g-3" autocomplete="off">
        <fieldset class="col-md-12">
          <label for="old_password" class="form-label">Old Password:</label>
          <input type="password" class="form-control" name="old_password" id="old_password" placeholder="Enter old password" required [(ngModel)]='user.old_password'>
        </fieldset>

        <fieldset class="col-md-12">
          <label for="password" class="form-label">New Password:</label>
          <input type="password" class="form-control" name="password" id="password" placeholder="Enter new password" required [(ngModel)]='user.password'>
        </fieldset>


        <fieldset class="form-group float-end">
          <button type='submit' class="btn btn-primary m-1">
            <i class="fas fa-save"></i> Change Password
          </button>
          <a href="/home" class="btn btn-secondary m-1"><i class="fas fa-undo"></i> Cancel</a>
        </fieldset>


      </form>
    </div>
  </div>
</main>
