<!--Import Header and Navigation bar-->
<%- include partials/header.ejs %>
<%- include partials/main_nav.ejs %>

<!-- home pages -->
<section class="py-5 text-center container">
  <div class="row py-lg-8">
    <div class="col-lg-8 col-md-8 mx-auto">
      <h1 class="fw-light">Welcome to</h1>
      <h1 class="mb-4">
        <span id="typed">|</span>
      </h1>
    </div>
  </div>
</section>

<!-- Import Footer and Bottom navigation bar-->
<%- include partials/bottom_nav.ejs %>
<%- include partials/footer.ejs %>